# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
test.js
*.jpg
*.jpg
*.mp4
auth_lenayk.json
package-lock.json
testMoment.js
test.js

test.js
test.js
public/media/cachefile.json
index_2.js
