<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">

    </a>
        <h1>Privacy And Policy</h1>
        <p>
          This bot made by Orangies for show Instagram media update from @333cyj333. Not for any commercial.
      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script>
      // var socket = io.connect('http://10.11.2.80:27017');
      var socket = io.connect('https://afternoon-coast-78677.herokuapp.com:27017');
      socket.on('data', function (data) {
        console.log(data);
      });

    </script>
</body>

</html>